{% load static %}

<!-- footer -->
<footer>
    <div class="knsl-footer">
        <div class="container knsl-p-100-100">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <img class="knsl-footer-logo" src="{% static 'my_photos/logo.jpg' %}" alt="Menexes">
                      <div class="knsl-footer-about">
                          In beautiful Monemvasia, a true love<br>
                            He comes to us from the old days, much to teach us<br>
                            They adorn our beautiful history with grace<br>
                            Fiorelli and Melica our beautiful couple<br>
                            Where the kitapias wrote their love in the castle<br>
                            And it kindled and covered the highest palaces<br>
                            We will also drink malvasia amber at their weddings
                            My beautiful Monemvasia, the pride of the world<br>
                      </div>

                    </div>
                    <div class="col-md-6 col-lg-2">
                      <h4>Menu</h4>
                      <ul class="knsl-footer-menu">
                        <li><a href="{% url 'homepage_eng' %}">HOMEPAGE</a></li>
                        <li><a href="{%  url 'about_us_eng' %}">ABOUT</a></li>
                        <li><a href="{% url 'room_list_eng' %}">ROOMS</a></li>
                        <li><a href="{% url 'discover_list_eng' %}">DESTINATIONS</a></li>
                        <li><a href="{% url 'contact_eng' %}">CONTACT</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h4>Meet Kinsley</h4>
                      <ul class="knsl-footer-menu">
                        <li><a href="{% url 'term_of_use_eng' %}">TERMS OF USE</a></li>
                        <li><a href="#.">Sitemap</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h4>Instagram</h4>
                      <div class="footer-insta">
                            <p>We will come shortly!</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="knsl-copyright">
                  <div class="container">
                    <div class="copy-text">
                      <div>&copy; mid 2021 Kinsley. All Rights Reserved.</div>
                    </div>
                    <div class="copy-menu">
                      <div>Design by: <a href="https://themeforest.net/user/millerdigitaldesign/portfolio">Nazar Miller</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
  <!-- footer end -->