{% load static %}

<!-- footer -->
<footer>
    <div class="knsl-footer">
        <div class="container knsl-p-100-100">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <img class="knsl-footer-logo" src="{% static 'img/logo-w.svg' %}" alt="Kinsley">
                      <div class="knsl-footer-about">Sequi dolores ratione eos eveniet provident soluta. Omnis nesciunt sit eos at, eius voluptatum rem corporis. Doloremque labore assumenda
                        explicabo velit illo, soluta rem, inventore hic.</div>
                      <div class="knsl-footer-social">
                        <a href=""><i class="fas fa-circle"></i></a>
                        <a href=""><i class="fas fa-circle"></i></a>
                        <a href=""><i class="fas fa-circle"></i></a>
                        <a href=""><i class="fas fa-circle"></i></a>
                        <a href=""><i class="fas fa-circle"></i></a>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                      <h4>Menu</h4>
                      <ul class="knsl-footer-menu">
                        <li><a href="{% url 'homepage_gr' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                        <li><a href="{%  url 'about_us_gr' %}">ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</a></li>
                        <li><a href="{% url 'room_list_gr' %}">ΔΙΑΜΟΝΗ</a></li>
                        <li><a href="{% url 'discover_list_gr' %}">ΠΡΟΟΡΙΣΜΟΙ</a></li>
                        <li><a href="{% url 'contact_gr' %}">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h4>Meet Kinsley</h4>
                      <ul class="knsl-footer-menu">
                        <li><a href="#.">ΟΡΟΙ ΧΡΗΣΗΣ</a></li>
                        <li><a href="#.">ΠΟΛΙΤΙΚΗ ΑΠΟΡΡΗΤΟΥ</a></li>
                        <li><a href="#.">Sitemap</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h4>Instagram</h4>
                      <div class="footer-insta">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="knsl-copyright">
                  <div class="container">
                    <div class="copy-text">
                      <div>&copy; mid 2021 Kinsley. All Rights Reserved.</div>
                    </div>
                    <div class="copy-menu">
                      <div>Design by: <a href="https://themeforest.net/user/millerdigitaldesign/portfolio">Nazar Miller</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
  <!-- footer end -->