{% load static %}

<!-- jquery js -->
<script src="{% static 'js/plugins/jquery.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
<!-- nice select js -->
<script src="{% static 'js/plugins/jquery.nice-select.min.js' %}"></script>
<!-- datepicker js -->
<script src="{% static 'js/plugins/datepicker.js' %}"></script>
<!-- smooth scroll js -->
<script src="{% static 'js/plugins/smooth-scroll.js' %}"></script>
<!-- isotope js -->
<script src="{% static 'js/plugins/isotope.min.js' %}"></script>
<!-- mapbox js -->
<script src="{% static 'js/plugins/mapbox.min.js' %}"></script>
<!-- fancybox js -->
<script src="{% static 'js/plugins/fancybox.min.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'js/plugins/swiper.min.js' %}"></script>
<!-- sticky js -->
<script src="{% static 'js/plugins/sticky.js' %}"></script>
<!-- kinsley js -->
<script src="{% static 'js/main.js' %}"></script>


<script type="text/javascript">
    $(window).on('load', function() {
        console.log('here!');
        $('#messageModal').modal('show');
    });
</script>
