{% load static %}

 <!-- top bar -->
 <div class="knsl-top-bar">
    <div class="container">
      <div class="knsl-left-side">
        <!-- logo -->
        <a href="{% url 'homepage_gr' %}" class="knsl-logo-frame">
          <img src="{% static 'img/logo.svg' %}" alt="Kinsley">
        </a>
        <!-- logo end -->
      </div>
      <div class="knsl-right-side">
        <!-- menu -->
        <div class="knsl-menu">
          <nav>
            <ul>
                <li><a href="{% url 'about_us_gr' %}">ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</a></li>
                <li><a href="{% url 'room_list_gr' %}">ΔΙΑΜΟΝΗ</a></li>
                <li><a href="{% url 'discover_list_gr' %}">ΠΡΟΟΡΙΣΜΟΙ</a></li>
              <li><a href="{% url 'contact_gr' %}">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
            </ul>
          </nav>
        </div>
        <!-- menu end -->
        <!-- action button -->
        <a id="book-popup" class="knsl-btn"><img src="{% static 'img/icons/bookmark.svg' %}" alt="icon">Book now</a>
        <!-- action button end -->
      </div>
      <!-- menu button -->
      <div class="knsl-menu-btn"><span></span></div>
      <!-- menu button end -->
    </div>
  </div>
  <!-- top bar end -->