{% load static %}

 <!-- top bar -->
 <div class="knsl-top-bar">
    <div class="container">
      <div class="knsl-left-side">
        <!-- logo -->
        <a href="{% url 'homepage_eng' %}" class="knsl-logo-frame">
          <img src="{% static 'img/logo.svg' %}" alt="Kinsley">
        </a>
        <!-- logo end -->
      </div>
      <div class="knsl-right-side">
        <!-- menu -->
        <div class="knsl-menu">
          <nav>
            <ul>
                <li><a href="{% url 'about_us_eng' %}">ABOUT US</a></li>
                <li><a href="{% url 'room_list_eng' %}">ROOMS</a></li>
                <li><a href="{% url 'discover_list_eng' %}">DESTINATIONS
                    
                </a></li>
              <li><a href="{% url 'contact_eng' %}">CONTACT</a></li>
            </ul>
          </nav>
        </div>
        <!-- menu end -->
        <!-- action button -->
        <a id="book-popup" class="knsl-btn"><img src="{% static 'img/icons/bookmark.svg' %}" alt="icon">Book now</a>
        <!-- action button end -->
        <a style='color:blue' href={{ eng_link }}>EN </eng>
      </div>
      <!-- menu button -->
      <div class="knsl-menu-btn"><span></span></div>
      <!-- menu button end -->
    </div>
  </div>
  <!-- top bar end -->