{% extends 'eng/index.html' %} {% load static %}

{% block content %}

    {% include 'include/navbar_eng.html' %}
     <!-- banner -->
    <section class="knsl-banner-simple knsl-transition-bottom">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame">
              <h1 class="knsl-mb-20 knsl-h1-inner">CONTACT</h1>
              <BR />
              <ul class="knsl-breadcrumbs">
                <li><a href="{% url 'homepage_eng' %}">Homepage</a></li>
                <li><span>Contact</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- contact -->
    <section class="knsl-p-100-100">

      <div id="knsl-triger-1"></div>

      <div class="container">

        <!-- features card -->
        <div class="knsl-features-card">

          <div class="row">
            <div class="col-12 col-lg-4">

              <!-- icon box -->
              <div class="knsl-icon-box">
                <i style="margin-bottom: 1%" class="fa fa-address-book fa-3x"></i>
                <h5 class="knsl-mb-10">Address</h5>
                <p>Monemvasia Castle</p>
              </div>
              <!-- icon box end -->

            </div>
            <div class="col-12 col-lg-4">

              <!-- icon box -->
              <div class="knsl-icon-box">
                <i style="margin-bottom: 1%" class="fa fa-phone fa-3x"></i>
                <h5 class="knsl-mb-10">Phones</h5>
                <p>6939899187</p>
              </div>
              <!-- icon box end -->

            </div>
            <div class="col-12 col-lg-4">

              <!-- icon box -->
              <div class="knsl-icon-box">
                <i style="margin-bottom: 1%" class="fa fa-mail-bulk fa-3x"></i>
                <h5 class="knsl-mb-10">EMAIL</h5>
                <p>xrysman@gmail.com</p>
              </div>
              <!-- icon box end -->

            </div>
          </div>

        </div>
        <!-- contact end -->

      </div>
    </section>


    <section class="knsl-transition-top knsl-p-0-100">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">a
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame knsl-scroll-animation knsl-mb-100">
              <h2 class="knsl-mb-20">Ask us</h2>
              <p class="knsl-mb-30"></p>
            </div>

          </div>
          <div class="col-lg-12">
            <form class="knsl-scroll-animation" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-success">Send</button>
            </form>
          </div>
        </div>
      </div>
    </section>


{% endblock %}