{% extends 'eng/index.html' %} {% load static %}

{% block extra_cs %}
    <style>
        .nice-select .list .option {
            width: 100px;

        }
    </style>
{% endblock %}
{% block content %}

    {% include 'include/navbar_eng.html' %}
     <!-- banner -->
    <section class="knsl-banner-simple knsl-transition-bottom">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame">
              <h1 class="knsl-mb-20 knsl-h1-inner">Get in Touch</h1>
              <ul class="knsl-breadcrumbs">
                <li><a href="{% url 'homepage_gr' %}">Homepage</a></li>
                <li><span>Contact</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- contact -->
    <section class="knsl-p-100-100">

      <div id="knsl-triger-1"></div>

      <div class="container">

        <!-- features card -->
        <div class="knsl-features-card">

          <div class="row">
            <div class="col-12 col-lg-4">

              <!-- icon box -->
              <div class="knsl-icon-box">
                <img src="{% static 'img/features/9.svg' %}" alt="icon" class="knsl-mb-10">
                <h5 class="knsl-mb-10">Address</h5>
                <p>Santo Domingo 9479 Magarto st.</p>
              </div>
              <!-- icon box end -->

            </div>
            <div class="col-12 col-lg-4">

              <!-- icon box -->
              <div class="knsl-icon-box">
                <img src="{% static 'img/features/10.svg' %}" alt="icon" class="knsl-mb-10">
                <h5 class="knsl-mb-10">Call</h5>
                <p>+93 (736) 6X8 84 84</p>
              </div>
              <!-- icon box end -->

            </div>
            <div class="col-12 col-lg-4">

              <!-- icon box -->
              <div class="knsl-icon-box">
                <img src="{% static 'img/features/11.svg' %}" alt="icon" class="knsl-mb-10">
                <h5 class="knsl-mb-10">Email</h5>
                <p>kinsley.inbox@mail.com</p>
              </div>
              <!-- icon box end -->

            </div>
          </div>

        </div>
        <!-- contact end -->

      </div>
    </section>


    <section class="knsl-transition-top knsl-p-0-100">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame knsl-scroll-animation knsl-mb-100">
              <h2 class="knsl-mb-20">Kinsley is Waiting for You!</h2>
              <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
              <a href="{% url 'about_us_gr' %}" class="knsl-btn knsl-btn-md">More about us</a>
            </div>

          </div>
          <div class="col-lg-12">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">SEND</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include 'include/footer_eng.html' %}
{% endblock %}