{% extends 'eng/index.html' %} {% load static %}

{% block content %}



   {% include 'include/navbar_eng.html' %}


    <!-- banner -->
    <section class="knsl-banner-simple knsl-transition-bottom">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame">
              <h1 class="knsl-mb-20 knsl-h1-inner">Destinations</h1>
                <br />
              <ul class="knsl-breadcrumbs">
                <li><a href="{% url 'homepage_eng' %}">Homepage</a></li>
                <li><span>Destinations</span></li>
              </ul>

                <p><br>The small villages, coves and castles that once protected life and
                     the culture of the region, today they resist time and remain
                     alive, having essentially changed use. From tourism now
                     castle state of Monemvasia, we start for a tour of the surrounding area,
                     discovering the most beautiful routes.
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- blog -->
    <section class="knsl-p-100-100">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
        <div class="container">
            <div class="row align-items-center">

                {% for ele in object_list %}
                     <div class="col-lg-6">
                        <!-- blog card -->
                        <div class="knsl-blog-card">
                            <div class="knsl-cover-frame">
                                <img src="{{ ele.image.url }}" alt="cover">
                            </div>
                            <div class="knsl-description-frame">
                                <div class="knsl-room-features">
                                    <div class="knsl-feature">
                                        <div class="knsl-icon-frame knsl-icon-author"></div>

                                    </div>

                                </div>
                                    <h4 class="knsl-mb-20">{{ ele.title_eng }}</h4>
                                <div class="">{{ ele.text_eng|safe }}</div>
                            </div>
                        </div>
                                <!-- blog card end -->
                    </div>
                {% endfor %}


            </div>

        </div>
            </div>
        </div>
    </section>

{% endblock %}