<!DOCTYPE html> {% load static %}
<html lang="zxx">

{% include  'include/head.html' %}


<body>
{% block content %}
    <!-- page wrapper -->
    <div class="knsl-app">
            {% include 'include/navbar_eng.html' %}

            <!-- preloader -->
            <div class="knsl-preloader-frame">
              <div class="knsl-preloader">
                <img src="{% static 'img/logo.svg' %}" alt="Kinsley">
                <div class="knsl-preloader-progress">
                  <div class="knsl-preloader-bar"></div>
                </div>
                <div><span class="knsl-preloader-number" data-count="101">0</span>%</div>
              </div>
            </div>
            <!-- preloader end -->

            <!-- datepicker frame -->
            <div class="knsl-datepicker-place"></div>

            <!-- banner -->
            <section class="knsl-banner">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/banner1.jpg' %}" alt="banner" class="knsl-parallax">
                      </div>
                      <div class="knsl-overlay"></div>

                      <div class="knsl-banner-content">
                        <div class="container">
                          <div class="knsl-main-title">
                            <div class="knsl-white">
                              <ul class="knsl-stars">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                              </ul>
                              <!-- main-title -->
                              <h1 class="knsl-center knsl-mb-10">Welcome to Kinsley</h1>
                              <div class="knsl-mb-30 knsl-center">Deleniti nostrum laboriosam praesentium quasi quam voluptate.</div>
                            </div>
                          </div>
                          <div class="knsl-book-form knsl-book-form-2">
                            <form>
                              <div class="row align-items-center">
                                <div class="col-12 col-lg-3">
                                  <div class="knsl-input-frame knsl-book-form-2">
                                    <label for="check-in">Check in</label>
                                    <input id="check-in" type="text" class="datepicker-here" data-position="bottom left" placeholder="Select date" autocomplete="off" readonly="readonly">
                                  </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                  <div class="knsl-input-frame">
                                    <label for="check-out" class="knsl-add-icon">Check out</label>
                                    <input id="check-out" type="text" class="datepicker-here" data-position="bottom left" placeholder="Select date" autocomplete="off" readonly="readonly">
                                  </div>
                                </div>
                                <div class="col-6 col-lg-3">
                                  <div class="knsl-select-frame">
                                    <label for="person">Person</label>
                                    <select id="person">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4" disabled>4</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-6 col-lg-2">
                                  <div class="knsl-select-frame">
                                    <label for="children">Childrens</label>
                                    <select id="children">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4" disabled>4</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-12 col-lg-1 text-center">
                                  <button type="submit" class="knsl-btn"><img src="{% static 'img/icons/search.svg' %}" class="knsl-zoom" alt="icon"><span>Serch room</span></button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="knsl-scroll-hint-frame">
                            <div class="knsl-white knsl-mb-20">Scroll down</div>
                            <a href="#knsl-triger-1" class="knsl-scroll-hint knsk-s-s"></a>
                          </div>
                        </div>
                      </div>
                    </section>
            <!-- banner end -->

            <!-- features -->
            <section id="knsl-triger-1">

              <div class="container">

                <!-- features card -->
                <div class="knsl-features-card" style="margin-top: -80px;">

                  <div class="row">
                    <div class="col-6 col-lg-3">

                      <!-- icon box -->
                      <div class="knsl-icon-box">
                        <img src="{% static 'img/features/1.svg' %}" alt="icon" class="knsl-mb-10">
                        <h5>Airport transfer</h5>
                      </div>
                      <!-- icon box end -->

                    </div>
                    <div class="col-6 col-lg-3">

                      <!-- icon box -->
                      <div class="knsl-icon-box">
                        <img src="{% static 'img/features/2.svg' %}" alt="icon" class="knsl-mb-10">
                        <h5>All inclusive</h5>
                      </div>
                      <!-- icon box end -->

                    </div>
                    <div class="col-6 col-lg-3">

                      <!-- icon box -->
                      <div class="knsl-icon-box">
                        <img src="{% static 'img/features/3.svg' %}" alt="icon" class="knsl-mb-10">
                        <h5>Air-conditioned</h5>
                      </div>
                      <!-- icon box end -->

                    </div>
                    <div class="col-6 col-lg-3">

                      <!-- icon box -->
                      <div class="knsl-icon-box">
                        <img src="{% static 'img/features/4.svg' %}" alt="icon" class="knsl-mb-10">
                        <h5>Under protection</h5>
                      </div>
                      <!-- icon box end -->

                    </div>
                  </div>

                </div>
                <!-- features card end -->

              </div>
            </section>
            <!-- features end -->

            <!-- about -->
            <section class="knsl-p-100-100">

              <div class="container">
                <div class="knsl-about-card">
                  <div class="row no-gutters">
                    <div class="col-lg-6">
                      <div class="knsl-about-photo">
                        <img src="{% static 'my_photos/banner2.jpg' %}" alt="cover">
                      </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                      <div class="knsl-about-text">
                        <div class="knsl-title-frame">
                          <h2 class="knsl-mb-20">ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</h2>
                          <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                          <a href="{% url 'about_us_gr' %}" class="knsl-btn knsl-btn-md">More about us</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                      <div class="knsl-about-photo">
                        <img src="{% static 'my_photos/gerakas_2.jpg' %}" alt="cover">
                      </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                      <div class="knsl-about-text">
                        <div class="knsl-title-frame">
                          <h2 class="knsl-mb-20">ΠΡΟΟΡΙΣΜΟΙ</h2>
                          <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                          <a href="{% url 'discover_list_gr' %}" class="knsl-btn knsl-btn-md">Choose a room</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
            <!-- about end -->


            <!-- rooms -->
            <section class="knsl-transition-bottom" style="background-color: #ECFAFB">
              <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-12">

                    <div class="knsl-center knsl-title-frame knsl-scroll-animation knsl-mb-100">
                      <h2 class="knsl-mb-20">ΤΑ ΔΩΜΑΤΙΑ ΜΑΣ</h2>
                      <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                      <a href="{% url 'room_list_gr' %}" class="knsl-btn knsl-btn-md">ΔΩΜΑΤΙΑ</a>
                    </div>

                  </div>
                  <div class="col-lg-12">
                    <div class="swiper-container knsl-uni-slider">
                      <div class="swiper-wrapper">
                          {% for room in rooms %}
                              <div class="swiper-slide">{% include 'include/room_card.html' %}</div>
                          {% endfor %}
                      </div>
                    </div>

                      <!-- slider navigation -->
                      <div class="knsl-uni-slider-nav-panel">
                        <div class="knsl-uni-slider-pagination"></div>
                        <div class="knsl-uni-nav">
                          <div class="knsl-uni-slider-prev"><i class="fas fa-arrow-left"></i></div>
                          <div class="knsl-uni-slider-next"><i class="fas fa-arrow-right"></i></div>
                        </div>
                      </div>
                      <!-- slider navigation end -->
                  </div>
                </div>
              </div>
            </section>
            <!-- rooms end -->

            <!-- services -->
            <section class="knsl-p-100-80">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">

                    <div class="knsl-center knsl-title-frame knsl-scroll-animation knsl-mb-100">
                      <h2 class="knsl-mb-20">ΠΡΟΤΑΣΕΙΣ</h2>
                      <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                      <a href="#." class="knsl-btn knsl-btn-md">ΠΡΟΟΡΙΣΜΟΙ</a>
                    </div>

                  </div>
                  <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_1.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">Lounge bar</h3>
                        <p>Officiis deleniti, veritatis laudantium! Qudantium dolorem!</p>
                      </div>
                    </div>
                    <!-- service card end -->

                  </div>
                  <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_2.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">Four pools</h3>

                      </div>
                    </div>
                    <!-- service card end -->

                  </div>
                  <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_3.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">Restaurant</h3>


                      </div>
                    </div>
                    <!-- service card end -->

                  </div>
                </div>
              </div>
            </section>
            <!-- services end -->


            <!-- blog -->
            <section class="knsl-p-0-80" style="background-color: #ECFAFB">
              <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">

                    <div class="knsl-center knsl-title-frame knsl-scroll-animation knsl-mb-100">
                      <h2 class="knsl-mb-20">Our Newsletter</h2>
                      <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                        <form method="post" class="form">
                            <input type="text" placeholder="Email.." class="form-control">
                        </form>
                    </div>

                  </div>

                </div>
              </div>
            </section>
            <!-- blog end -->





          {% include 'include/footer.html' %}

          </div>
          <!-- page wrapper end -->

  {% endblock %}
{% include 'include/js.html' %}
</body>



</html>
