{% extends 'gr/index.html' %} {% load  static %}

{% block content %}
    <div class="knsl-app">
        {% include 'include/navbar.html' %}
          <!-- banner -->
    <section class="knsl-banner-simple knsl-transition-bottom">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame">
              <h1 class="knsl-mb-20 knsl-h1-inner">ΜΑΘΕΤΕ ΓΙΑ ΕΜΑΣ</h1>
              <p class="knsl-mb-30"></p>
              <ul class="knsl-breadcrumbs">
                <li><a href="{% url 'homepage_gr' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                <li><span>ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->
        <!-- banner end -->



    <!-- video -->
    <section class="knsl-p-0-100">

      <div class="container">

        <div class="knsl-about-card">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="knsl-about-text">
                <div class="knsl-title-frame">
                  <h2 class="knsl-mb-20">Start your Amazing Adventure!</h2>
                  <p class="knsl-mb-30">Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                  <a data-fancybox href="https://www.youtube.com/watch?v=wsq-r8lMMsk" class="knsl-btn knsl-btn-md">
                      <img src="{% static '' %}img/icons/play.svg" alt="icon" class="knsl-zoom">Watch video</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="">
                <img src="{% static 'my_photos/gerakas_2.jpg' %}" alt="cover">

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- video end -->

    <!-- team -->
        <section class="knsl-p-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="knsl-center knsl-title-frame knsl-mb-100">
                            <h2 class="knsl-mb-20">ΔΕΙΤΕ ΤΙΣ ΦΩΤΟΓΡΑΦΙΕΣ ΜΑΣ</h2>
                            <p>Consectetur adipisicing elit. Nihil, illum voluptate eveniet ex fugit ea delectus, sed voluptatem. Laborum accusantium libero commodi id officiis itaque esse adipisci, necessitatibus asperiores, illo odio.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_1.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">ΘΕΑ</h3>
                        <p>ΚΑΣΤΡΟ ΜΟΝΕΜΒΑΣΙΑΣ</p>
                      </div>
                    </div>
                    <!-- service card end -->

                    </div>
                    <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_2.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">Four pools</h3>

                      </div>
                    </div>
                    <!-- service card end -->

                  </div>
                    <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_3.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">Restaurant</h3>


                      </div>
                    </div>
                    <!-- service card end -->

                  </div>

                </div>
            </div>
            </div>
        </section>
    <!-- team end -->






    {% include 'include/footer.html' %}

  </div>
  <!-- page wrapper end -->

{% endblock %}