{% extends 'gr/index.html' %} {% load  static %}

{% block content %}

        {% include 'include/navbar.html' %}
          <!-- banner -->
    <section class="knsl-banner-simple knsl-transition-bottom">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame">
              <h1 class="knsl-mb-20 knsl-h1-inner">ΜΑΘΕΤΕ ΓΙΑ ΕΜΑΣ</h1>
              <p class="knsl-mb-30"></p>
              <ul class="knsl-breadcrumbs">
                <li><a href="{% url 'homepage_gr' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                <li><span>ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</span></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->
        <!-- banner end -->



    <!-- video -->
    <section class="knsl-p-0-100">

      <div class="container">

        <div class="knsl-about-card">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="knsl-about-text">
                <div class="knsl-title-frame">
                  <h2 class="knsl-mb-20">MENEXES HOTEL</h2>
                  <p class="knsl-mb-30">
                      Στην όμορφη Μονεμβασιά μια αληθινή αγάπη<br>
                      Μας έρχεται από τα παλιά, πολλά για να μας μάθει<br>
                      Την όμορφη ιστορία μας στολίζουνε με χάρη<br>
                      Ο Fiorelli κι η Melica μας το όμορφο ζευγάρι<br>
                      Που ‘γραψαν την αγάπη τους στου κάστρου τα κιτάπια<br>
                      Και φούντωσε και σκέπασε τα πιο ψηλά παλάτια<br>
                      Θα πιούμε και στους γάμους τους malvasia κεχριμπάρι<br>
                      Μονεμβασιά μου όμορφη, του κόσμου το καμάρι<br>
                      Για να θυμούνται οι παλιοί και να μαθαίνουν νέοι<br>
                      Πως δύναμη πιο ισχυρή στον κόσμο αυτόν δεν έχει<br>
                      Απ’ την αγάπη τους αυτή που στόλισε το κάστρο<br>
                      Που θα την έχουμε όλοι μας σαν φωτεινό μας άστρο<br>
                  </p>

                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="">
                <img src="{% static 'my_photos/location_1.jpg' %}" alt="cover">

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- video end -->

    <!-- team -->
        <section class="knsl-p-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="knsl-center knsl-title-frame knsl-mb-100">
                            <h2 class="knsl-mb-20">ΔΕΙΤΕ ΤΙΣ ΦΩΤΟΓΡΑΦΙΕΣ ΜΑΣ</h2>
                            <p>Επιλεγμένες φωτογραφίες απο το ξενοδοχείο μας και την γύρω περιοχή.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_1.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">ΘΕΑ</h3>
                        <p>ΚΑΣΤΡΟ ΜΟΝΕΜΒΑΣΙΑΣ</p>
                      </div>
                    </div>
                    <!-- service card end -->

                    </div>
                    <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/location_2.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">ΚΑΣΤΡΟ</h3>

                      </div>
                    </div>
                    <!-- service card end -->

                  </div>
                    <div class="col-lg-4">

                    <!-- service card -->
                    <div class="knsl-ath-card knsl-scroll-animation">
                      <div class="knsl-cover-frame">
                        <img src="{% static 'my_photos/monemvasia_thea.jpg' %}" alt="cover">
                      </div>
                      <div class="knsl-card-description">
                        <h3 class="knsl-mb-10">ΚΑΣΤΡΟ</h3>
                          <p> Το τραπεζάκι μας</p>

                      </div>
                    </div>
                    <!-- service card end -->

                  </div>

                </div>
            </div>

        </section>
    <!-- team end -->

{% endblock %}

