{% extends 'gr/index.html' %} {% load static %}

{% block content %}



   {% include 'include/navbar.html' %}


    <!-- banner -->
    <section class="knsl-banner-simple knsl-transition-bottom">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-right" alt="palm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="knsl-center knsl-title-frame">
              <h1 class="knsl-mb-20 knsl-h1-inner">ΠΡΟΟΡΙΣΜΟΙ</h1>
                <br />
              <ul class="knsl-breadcrumbs">
                <li><a href="{% url 'homepage_gr' %}">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>
                <li><span>ΠΡΟΟΡΙΣΜΟΙ</span></li>
              </ul>

                <p><br>Τα μικρά χωριά, οι όρμοι και τα κάστρα που κάποτε προστάτευαν τη ζωή και
                    τον πολιτισμό της περιοχής, σήμερα αντιστέκονται στον χρόνο και παραμένουν
                    ζωντανά, έχοντας ουσιαστικά αλλάξει χρήση. Από την τουριστική πλέον
                    καστροπολιτεία της Μονεμβασιάς, ξεκινάμε για μια περιήγηση στη γύρω περιοχή,
                    ανακαλύπτοντας τις ομορφότερες διαδρομές.
                </p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- blog -->
    <section class="knsl-p-100-100">
      <img src="{% static 'img/palm.svg' %}" class="knsl-deco-left" alt="palm">
        <div class="container">
            <div class="row align-items-center">
                {% for ele in object_list %}
                     <div class="col-lg-6">
                        <!-- blog card -->
                        <div class="knsl-blog-card">
                            <div class="knsl-cover-frame">
                                <img src="{{ ele.image.url }}" alt="cover">
                            </div>
                            <div class="knsl-description-frame">
                                <div class="knsl-room-features">
                                    <div class="knsl-feature">
                                        <div class="knsl-icon-frame knsl-icon-author"></div>

                                    </div>

                                </div>
                                    <h4 class="knsl-mb-20">{{ ele }}</h4>
                                <div class="">{{ ele.text|safe }}</div>
                            </div>
                        </div>
                                <!-- blog card end -->
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

{% endblock %}